<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Practice JWT Demo</title>
</head>

<body>
    @{
        ViewBag.Title = "Demonstrating JWTs in ASP.NET Core MVC 3.1";
    }

    <p>You're logged in as:&nbsp;@User.Identity.Name</p>
    <p>@ViewBag.Message</p>
</body>
</html>